<div class="card-user">
    <img src="{{ data.picture }}" alt="{{ data.firstName }}">
    <div class="content">
        <h5>{{ data.title }} {{ data.firstName }} {{ data.lastName }}</h5>
        <div class="btn-container">
            <button type="button" class="btn btn-info" tooltip="View">
                <span class="material-symbols-outlined">
                    person
                </span>
            </button>
            <button type="button" class="btn btn-danger" tooltip="Delete User">
                <span class="material-symbols-outlined">
                    delete
                </span>
            </button>
        </div>
    </div>
</div>